<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Recommender</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="container">
        <h1>Movie Recommendation System🍿</h1>
        <input type="text" id="movieInput" placeholder="Enter a movie title...">
        <button id="getRecommendations">Get Recommendations😊</button>
        <div id="results"></div>
        
    </div>
    <script src="static/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
<script src="static/script.js"></script>

</body>
</html>
